---
import { HTML_HEAD, SITEMAP_ROUTE } from '@/settings.mjs';

import { getFirstDefined, joinHeadTitle } from '@/lib/main.mjs';
import { getFullUrl } from '@/lib/url.mjs';

import OpenGraphMeta from '@/components/head/OpenGraphMeta.astro';
import TwitterMeta from '@/components/head/TwitterMeta.astro';
import GoogleFonts from '@/components/services/GoogleFonts.astro';


interface Props {
  title?: string | null;
  description?: string | null;
  image?: string | URL | null;
  meta?: object[] | null;
}
const { image, meta } = Astro.props;
const title = joinHeadTitle(Astro.props.title, HTML_HEAD.title);
const description = getFirstDefined(Astro.props.description, HTML_HEAD.description);

const pageUrl = getFullUrl(Astro);

const rssUrl = new URL('rss.xml', Astro.site);
const rssTitle = `RSS: ${HTML_HEAD.title}`;
---


{/* High Priority */}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>

{/* Fonts */}
<GoogleFonts />
{/* <link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin /> */}

{/* CSS */}
{/* Note: `@/styles/global.css` imported in `layouts/MainLayout` */}
{/* <link rel="stylesheet" href="/css/main.css" type="text/css"> */}

{/* Icons */}
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />

{/* Primary Metadata */}
{description && <meta name="description" content={description} />}
<meta name="author" content="Pascal Polleunus" />
{/* <meta name="generator" content={Astro.generator} /> */}

{/* URLs */}
<link rel="canonical" href={pageUrl} />
<link rel="sitemap" href={SITEMAP_ROUTE} />
<link rel="alternate" type="application/rss+xml" href={rssUrl} title={rssTitle} />

{/* Custom Metadata */}
{meta && meta.map((attrs) => (<meta {...attrs} />))}

{/* Socials Metadata */}
<OpenGraphMeta {...{url: pageUrl, title, description, image}} />
<TwitterMeta {...{url: pageUrl, title, description, image}} />
