---
import { LINK_PAGE_NAV, ROUTES, SITE_NAME } from '@/settings';

import IconLink from '@/components/IconLink.astro';
import BaseHead from '@/components/head/BaseHead.astro';
import GoogleAnalytics from '@/components/services/GoogleAnalytics.astro';

import '@/styles/global.css';


const linksProps = {
  size: 24,
  target: '_blank',
  rel: 'noopener noreferrer',
  class: 'hover:text-primary',
};
---


<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="min-h-screen">
    <main class="min-h-screen flex flex-col items-center px-4 py-8">
      <h1 class="text-2xl mb-12"><a href={ROUTES.home}>{SITE_NAME}</a></h1>
      <nav class="nav-primary mb-8">
        <a href="https://ppolleunus.notion.site/HD-Learning-Teaching-Pedagogy-2884a4a4dcf58058954ddb3b23c8f14e" class="button button-outline">Human Design Pedagogy</a>
        <a href={ROUTES.blog} class="button button-outline">Blog</a>
      </nav>
      <nav class="nav-secondary">
        <ul class="flex gap-4">
          {LINK_PAGE_NAV.map((item) => (
            <li>
              {item && ( // Note: Don't want `label` here!
                <IconLink
                  icon={item.icon} url={item.url} {...linksProps}
                  class="text-text hover:text-primary"
                />
              ) || (
                <></>
              )}
            </li>
          ))}
        </ul>
      </nav>
    </main>

    <GoogleAnalytics />

    <style is:global>
      /* Improve Page speed: https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>


<style>
  @reference "@/styles/global.css";

  h1 a:not(:hover) {
    color: inherit;
  }
  .nav-primary {
    .button {
      @apply mb-4;
      display: block;
      min-width: 300px;
    }
  }
</style>
