---
import { LINK_PAGE_NAV, ROUTES, SITE_NAME } from '@/settings.mjs';

import IconLink from '@/components/IconLink.astro';
import BaseHead from '@/components/head/BaseHead.astro';
import GoogleAnalytics from '@/components/services/GoogleAnalytics.astro';


const linksProps = {
  size: 24,
  target: '_blank',
  rel: 'noopener noreferrer',
  class: 'hover:text-primary',
};
---


<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="min-h-screen">
    <main class="min-h-screen flex flex-col items-center px-4 py-8">
      <h1 class="text-2xl mb-12">{SITE_NAME}</h1>
      <nav class="nav-primary mb-8">
        <a href={ROUTES.mp25} class="highlight">MASTER PLAN 2025</a>
        <a href={ROUTES.blog} class="link">Blog</a>
      </nav>
      <nav class="nav-secondary">
        <ul class="flex gap-4">
          {LINK_PAGE_NAV.map((item) => (
            <li>
              {item && ( // Note: Don't want `label` here!
                <IconLink
                  icon={item.icon} url={item.url} {...linksProps}
                  class="text-text hover:text-primary"
                />
              ) || (
                <></>
              )}
            </li>
          ))}
        </ul>
      </nav>
    </main>

    <GoogleAnalytics />

    <style is:global>
      /* Improve Page speed: https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>


<style>
  .nav-primary {
    a {
      @apply text-white bg-primary border border-primary rounded-md px-1 py-2 mb-4;
      @apply hover:text-primary hover:bg-transparent;
      display: block;
      text-align: center;
      min-width: 300px;
      max-width: 100%;

      &.highlight {
        @apply bg-secondary border-secondary hover:text-secondary hover:bg-transparent;
      }

      &.link {
        @apply text-primary bg-transparent border-transparent hover:text-primary hover:border-primary;
      }
    }
  }
</style>
