---
import { ROUTES, URLS, WHERE_AM_I } from '@/settings';

// TODO: Bug in prod // import { Image } from 'astro:assets';

import MyEmail from '@/components/MyEmail.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import { getNamedPath } from '@/lib/url';

// TODO: Bug in prod // import profilePicture from '@/media/pascal-polleunus.webp';
---


<PageLayout
  title="About"
  description="Some information about me, Pascal Polleunus."
>
  <section class="about-intro mb-20 text-center">
    {/* TODO: Bug in prod // <Image
      src={profilePicture} width="150" height="150" alt="Profile picture of Pascal Polleunus"
      class="mt-0 mb-4"
    />*/}
    <img
      src="/media/pascal-polleunus.webp" width="150" height="150" alt="Profile picture of Pascal Polleunus"
      class="mt-0 mb-4"
    />
    <div>Hi, my name is <strong>Pascal Polleunus</strong>.</div>
    <div>Born in 🇧🇪 Brussels, Belgium.</div>
    <div>Currently in {WHERE_AM_I}.</div>
  </section>

  <section>
    <div class="headline">Multipotentialite Maker → Exploring Unity-Based Community Models</div>

    <h2 id="my-golden-circle">My Golden Circle</h2>
    <ul class="unstyled my-golden-circle">
      <li>
        <strong>WHY:</strong><span>💪 Contribute to the transition to a new era</span>
      </li>
      <li>
        <strong>HOW:</strong><span>🤔 Question everything ›</span> <span>🤪 Think different ›</span> <span>✊ Inspire change</span>
      </li>
      <li>
        <strong>WHAT:</strong><span>🤝 <a href={URLS.unitygz}>Unity Initiatives</a></span>
      </li>
    </ul>


    <h2 id="my-human-design">My Human Design</h2>
    <p><strong>4/1 Splenic Energy Projector</strong> (<a href={`${ROUTES.blog}/understanding-myself-through-human-design`}>article</a>)</p>
    <p>
      <b>Profile:</b> 4/1 • Networker/Investigator<br>
      <b>Centers:</b> Splenic, Heart/Ego<br>
      <b>Incarnation Cross:</b> Juxtaposition Cross of Crisis (36/6 | 10/15)<br>
      <b>Channels:</b> 26-44 • Channel of Surrender: A Design of a Transmitter<br>
      <b>Environment:</b> Wet Kitchens
    </p>

    <h2 id="my-star-idea">My STAR Idea</h2>
    <p>
      I love transcending my limitations and developing my potential.<br>
      <span class="text-dim italic">Which is therefore the help I like to give others.</span>
    </p>


    <h2 id="interests">Interests</h2>
    <p>Spirituality, travel, nomadism, education, sciences, makers, vanlife, van building, tiny houses, indoor farming, self-sufficiency, sports, CrossFit</p>


    <h2 id="values">Values</h2>
    <ul class="unstyled">
      <li><strong>Unity makes strength</strong>                             <nobr><em class="text-dim">— Motto of Belgium</em></nobr></li>
      <li><strong>Ubuntu:</strong> I am what I am because of who we all are <nobr><em class="text-dim">— Ancient African philosophy</em></nobr></li>
      <li><strong>One for all and all for one</strong>                      <nobr><em class="text-dim">— The Three Musketeers</em></nobr></li>
      <li><strong>Being in service to others</strong>                       <nobr><em class="text-dim">— The Law of One</em></nobr></li>
    </ul>


    <h2 id="character">Character</h2>
    <p class="text-dim"><em>Not quite on every level yet, but that’s what I aspire to</em> 😉</p>
    <ul class="unstyled">
      <li><strong>Bold</strong>       <span class="text-dim">—</span> I’m confident, brave, ambitious, audacious</li>
      <li><strong>Strong</strong>     <span class="text-dim">—</span> I stand for my values and speak the truth</li>
      <li><strong>Agile</strong>      <span class="text-dim">—</span> I move quickly and easily, adapting to changes</li>
      <li><strong>Creative</strong>   <span class="text-dim">—</span> I question everything, think different, and innovate</li>
      <li><strong>Smart</strong>      <span class="text-dim">—</span> I apply all current knowledge and use the latest technologies</li>
      <li><strong>Excellence</strong> <span class="text-dim">—</span> I do things as they must be done</li>
      <li><strong>Fun</strong>        <span class="text-dim">—</span> I’m serious but not boring, enjoying what I do</li>
    </ul>

    <q>I’m the type of person that if you ask me a question and I don’t know the answer, I’m
      gonna tell you that I don’t know. But I bet you what, I know how to find the answer and I
      will find the answer.</q>
    <span class="author">Chris Gardner, in
      <cite><a href="https://youtube.com/clip/UgkxpQyPVrnaE0A_APJiBJSuf7cNrDjlZhJr">The Pursuit of Happyness</a></cite>
    </span>


    <h2 id="favorite-quotes">Favorite Quotes</h2>
    <ul class="unstyled">
      <li>
        <q>We can’t solve problems by using the same kind of thinking we used when we created
          them.</q>
        <span class="author">Albert Einstein</span>
      </li>
      <li>
        <q>We are what we repeatedly do. Excellence, then, is not an act, but a habit.</q>
        <span class="author">Aristotle</span>
      </li>
      <li>
        <q>It seems that perfection is attained not when there is nothing more to add, but when
          there is nothing more to remove.</q>
        <span class="author">Antoine de Saint Exupéry</span>
      </li>
      <li>
        <q>Simplicity is the ultimate sophistication.</q>
        <span class="author">Leonardo da Vinci</span>
      </li>
      <li>
        <q>The mind, once stretched by a new idea, never returns to its original dimensions.</q>
        <span class="author">Ralph Waldo Emerson</span>
      </li>
      <li>
        <q>Happiness is when what you think, what you say, and what you do are in harmony.</q>
        <span class="author">Mahatma Gandhi</span>
      </li>
      <li>
        <q>Don’t ever let someone tell you you can’t do something. Not even me. You got a dream,
          you gotta protect it. People can’t do somethin’ themselves, they wanna tell you you
          can’t do it. You want somethin’, go get it. Period.</q>
        <span class="author">Chris Gardner, in
          <cite><a href="https://youtube.com/clip/UgxRWIQcmZXXviXX3yN4AaABCQ">The Pursuit of Happyness</a></cite>
        </span>
      </li>
      <li>
        <q>1+1=? 2. No, 1! Or maybe 1+1=11. And that’s beautiful.</q>
        <span class="author">
          <cite><a href="https://youtu.be/FTKV29C7yJE">JCVD</a></cite>…
          Belgian so knows “Unity Makes Strength”</span>
      </li>
      <li>
        <q>Forget you haven’t got a chance, just go for it! You never know, […], it might just
          work.</q>
        <span class="author">Jean-Claude Dusse, in
          <cite><a href="https://youtu.be/kf_yBGpVVS8">Les bronzés font du ski</a></cite>
        </span>
      </li>
    </ul>


    <h2 id="professional-life">Professional Life</h2>
    <p>
      My <a href={getNamedPath('cv')} target="_blank">resume</a> and
      <a href={URLS.linkedin} target="_blank">LinkedIn profile</a>.
    </p>


    <h2 id="get-in-touch">Get in Touch</h2>
    <p>You can contact me at <MyEmail /></p>
  </section>
</PageLayout>


<style>
  .my-golden-circle {
    strong {
      display: inline-block;
      width: 3.4em;
    }

    span {
      /* white-space: nowrap; */
    }

    @media (max-width: 550px) {
      span:not(:first-of-type) {
        display: block;
        padding-left: 3.4em;
      }
    }
  }

  .about-intro img {
    border-radius: 50%;
    display: inline-block;
    height: 150px;
    margin-inline: auto;
    width: 150px;
  }

  .headline {
    font-size: 1.1em;
    font-weight: var(--weight-body-strong);
    text-align: center;
  }
</style>
