---
interface Props {
  image: string;
  alt: string;
  title: string;
  subtitle?: string;
  url?: string; // TODO
  caption?: string;
  captionUrl?: string;
  captionIsHtml?: boolean;
}

const {
  image, alt, title, subtitle, caption, captionUrl, captionIsHtml = false
} = Astro.props;
---


<figure>
  <div class="relative">
    <img src={image} {alt} class="w-full h-auto my-0" />
    {(title || subtitle) && (
      <div class="absolute inset-0 bg-black/50 flex items-center justify-center">
        <div class="text-center text-white">
          <h1 class="text-4xl text-white mt-0 mb-2">{title}</h1>
          {subtitle && (<p class="text-xl my-0">{subtitle}</p>)}
        </div>
      </div>
    )}
  </div>
  {/* TODO: Check if <slot> */}
  <figcaption class="text-dim text-sm text-center mt-2">
    {caption && (
      captionIsHtml
        ? (<Fragment set:html={caption} />)
        : captionUrl
          ? (<a href={captionUrl} target="_blank" rel="noopener noreferrer">{caption}</a>)
          : caption
    )}
    <slot />
  </figcaption>
</figure>


<style>
  figcaption :global(a) {
    color: inherit;
    font-weight: inherit;

    &:hover {
      color: var(--text-accent);
    }
  }
</style>
