---
import Icon from '@/components/Icon.astro';


interface Props {
  icon: string;
  url: string;
  size?: number;
  label?: string;
  target?: string;
  rel?: string;
  class?: string;
}
const { icon, url, size, label, target, rel, class: className } = Astro.props;
---


<a href={url} title={label} {...{target, rel}} class={className}>
  <Icon name={icon} {label} {size} class="inline" />
  {label && (<span style={`margin-left: ${size/3}px`}>{label}</span>)}
</a>
