---
import { formatTags, removeCategoryFromTags } from '@/lib/blog';
import { FORMATS } from '@/lib/format';

import Time from '@/components/Time.astro';


const {
  category,
  publishedAt,
  createdAt,
} = Astro.props;
const tags = formatTags(removeCategoryFromTags(Astro.props.tags, category));
---


<div class="flex justify-between items-center font-light text-dim text-base mb-2">
  <div>
    {category && (<span>{category}</span>)}
    <br>
    <!-- {(category && tags) && (<>•</>)} -->
    {tags && (<span class="text-sm">{tags}</span>)}
  </div>
  <div>
    <Time date={publishedAt} format={FORMATS.DATE} title="Published on" />
    {createdAt && (
      <Time date={createdAt} format={FORMATS.DATE} title="Created on" hide={true} />
    )}
  </div>
</div>
