---
import { FORMATS } from '@/lib/format';

import Time from '@/components/Time.astro';


const {
  tags,
  author,
  category,
  publishedAt,
  createdAt,
} = Astro.props;
---


<div class="flex flex-col-reverse justify-start sm:flex-row sm:justify-between sm:items-center font-light text-dim text-base mb-4">
  <div class="flex items-center gap-2 sm:block">
    {category && (<div>{category}</div>)}
    {(category && tags) && (<span class="sm:hidden">•</span>)}
    {tags.map((tag) => <div class="text-sm">{tags}</div>)}
  </div>
  <div class="flex items-center gap-2 sm:block sm:text-right">
    <Time date={publishedAt} format={FORMATS.DATE} title="Published on" />
    {createdAt && (
      <Time date={createdAt} format={FORMATS.DATE} title="Created on" hide={true} />
    )}
    {author && (<>
      <span class="sm:hidden">•</span>
      <div class="text-sm">{author}</div>
    </>)}
  </div>
</div>
