---
import { FORMATS } from '@/lib/format';
import { getNamedPath } from '@/lib/url';

import Tag from '@/components/Tag.astro';
import Time from '@/components/Time.astro';


const {
  tags,
  author,
  category,
  publishedAt,
  createdAt,
} = Astro.props;

const categoryUrl = getNamedPath('blog-categories', encodeURI(category));
const tagBaseUrl = getNamedPath('blog-tags');
---


<div class="flex flex-col-reverse justify-start sm:flex-row sm:justify-between sm:items-center font-light text-dim text-base mb-4">
  <div class="flex items-center gap-2 sm:block">
    {category && (<div><a href={categoryUrl}>{category}</a></div>)}
    {(category && tags) && (<span class="sm:hidden">•</span>)}
    {tags.map((tag) => <Tag name={tag} url={tagBaseUrl} />)}
  </div>
  <div class="flex items-center gap-2 sm:block sm:text-right">
    <Time date={publishedAt} format={FORMATS.DATE} title="Published on" />
    {createdAt && (
      <Time date={createdAt} format={FORMATS.DATE} title="Created on" hide={true} />
    )}
    {author && (<>
      <span class="sm:hidden">•</span>
      <div class="text-sm">{author}</div>
    </>)}
  </div>
</div>
