---
import { formatTags, removeCategoryFromTags } from '@/lib/blog';
import { FORMATS } from '@/lib/format';

import Time from '@/components/Time.astro';


const {
  author,
  category,
  publishedAt,
  createdAt,
} = Astro.props;
const tags = formatTags(removeCategoryFromTags(Astro.props.tags, category));
---


<div class="flex flex-col-reverse justify-start sm:flex-row sm:justify-between sm:items-center font-light text-dim text-base mb-2">
  <div>
    {category && (<div>{category}</div>)}
    {(category && tags) && (<span class="sm:hidden">•</span>)}
    {tags && (<div class="text-sm">{tags}</div>)}
  </div>
  <div class="sm:text-right">
    <Time date={publishedAt} format={FORMATS.DATE} title="Published on" />
    {createdAt && (
      <Time date={createdAt} format={FORMATS.DATE} title="Created on" hide={true} />
    )}
    {author && (<>
      <span class="sm:hidden">•</span>
      <div class="text-sm">{author}</div>
    </>)}
  </div>
</div>


<style>
  @reference "@/styles/global.css";

  div > div {
    @apply flex items-center gap-2 sm:block;
  }
</style>
